<div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>Get the Latest <span class="text"> Weather</span> Info Of Your City</h1>
                        <a href="/weather"><button>Check Now</button></a>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_righ">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-ride="carousel" data-interval="1000">
                                    <img  class="re"  src="images/cloudy-day-3.svg" alt="First slide">
                                </div>
                                <div class="carousel-item" data-ride="carousel" data-interval="1000">
                                    <img  class="re" src="images/rainy-7.svg" alt="Second slide">
                                </div>
                                <div class="carousel-item" data-ride="carousel" data-interval="1000">
                                    <img  class="re"  src="images/thunder.svg" alt="Third slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>