<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    <!-- Navigation Bar -->
    {{>nav}}

    <!-- Main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <img class="yash" src="images/yash.jpeg" alt="yash">
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p class="we">Welcome to Weather App</p>
                        <h1> I am <span class="text">Yash Singhvi</span>. I am a Web Developer. </h1>
                        <div class="mar">
                            <ul class="social-icons">
                            <li class="icon icon--linkedin">
                                <a class="k" href="https://www.linkedin.com/in/yash-singhvi-4062931bb/" target="_blank">
                                    <span class="icon__name">LinkedIn</span>
                                </a>
                            </li>
                            <li class="icon icon--instagram">
                                <a class="k" href="https://www.instagram.com/yps777/" target="_blank">
                                    <span class="icon__name">Instagram</span>
                                </a>
                            </li>
                            <li class="icon icon--github">
                                <a class="k" href="https://github.com/ypscodes" target="_blank">
                                    <span class="icon__name">GitHub</span>
                                </a>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- footer -->
{{>footer}}

</html>