<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    <div class="containter-fluid main">
        <div class="err-l">
            <img style="height: 30rem; width:60rem" src="images/error.jpg" alt="error">
        </div>
        <!-- right side div -->
        <div class="err-r">
            <a id="butt" href="/"><button>Go To homepage</button></a>
        </div>
    </div>
</body>
<!-- footer -->
{{>footer}}

</html>