<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    <!-- Navigation Bar -->
    {{>nav}}
    
    <!-- Main header -->
    {{>main}}
</body>
<!-- footer -->
{{>footer}}
</html>
